<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Palabras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-card *ngFor="let jug of jugadores">
    <ion-card-header>
      <ion-card-title>Jugador {{jug}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input type="password" placeholder="Introduce la palabra"></ion-input>
      <ion-input type="password" placeholder="Introduce la palabra"></ion-input>
      <ion-input type="password" placeholder="Introduce la palabra"></ion-input>
    </ion-card-content>
  </ion-card>
  
</ion-content>
