<ion-content class="ion-padding">
  <ion-text color="primary">
    <h2>Bola de Nieve</h2>
  </ion-text>

  <ion-label position="stacked">Introduzca el número de jugadores:</ion-label>

  <ion-item>
    <ion-input type="number" placeholder=2 min=2 max=8 [(ngModel)]="jug"></ion-input>
  </ion-item>

  <ion-button expand="full" color="success" (click) = "aceptar()">Aceptar</ion-button>
  
  <ion-label position="stacked" color="danger" *ngIf="frango">Introduce entre 2 y 8 jugadores</ion-label>



  
</ion-content>
